.history-list-item {
  height: 40px;
  padding:10px;
  font-size: 16px;
  cursor: pointer;
  cursor: hand;
  border-radius: 3px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #C8E6C9;
  }
  &:active, .selected {
    background-color: #A5D6A7;
  }

  .hli-qpm {
    width: 70px;
  }
  .hli-accuracy {
    width: 50px;
  }

  .hli-left, .hli-right {
    display:inline-block;
    text-align: center;
  }
  .hli-right {
    float:right;
    div {
      display: inline-block;
    }
    span {
      width: 15px;
    }
  }

  .arrow {
    margin:0 5px;
  }

  .fa-caret-down {
    color: #e53935;
  }
  .fa-caret-up {
    color: #43A047;
  }
  .fa-circle {
    font-size: 9px;
    margin: 0 5px;
    color: #607D8B;
  }
}
